bin/
obj/
.vs/
*.user
*.suo

GpuCrashDetector/.appdata/
GpuCrashDetector/.nuget-packages/
GpuCrashDetector/.userprofile/

GpuCrashDetector/reports/
GpuCrashDetector/reports-test/
GpuCrashDetector/bin/**/reports/
release/**/reports/
